@font-face {
    font-family: Galatea;
    src: url('../src/fonts/Galatea\ Regular\ Thin.woff') format('woff');
}
@font-face {
    font-family: Galatea-Light;
    src: url('../src/fonts/Galatea\ Regular\ Light.woff') format('woff');
}

body {
    padding: 0%;
    margin: 0%;
}

#content {
    width: 100%;
    display: flex;
}

#main-cont {
    margin-left: 25%;
    width: 100%;
}

#main-cont img {
    width: 100%;
    height: 100%;
}

#left-cont {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#rest-name {
    font-size: 28px;
    font-family: 'Galatea-Light';
    font-style: italic;
}

#tab-cont {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Galatea';
}

.menu-items {
    font-size: 15px;
    cursor: pointer;
}

.menu-items:hover {
    text-decoration: underline;
}