@font-face {
    font-family: Galatea;
    src: url('../src/fonts/Galatea\ Regular\ Thin.woff') format('woff');
}
@font-face {
    font-family: Galatea-Light;
    src: url('../src/fonts/Galatea\ Regular\ Light.woff') format('woff');
}

body {
    padding: 0%;
    margin: 0%;
}



/* Parallax */

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer-base {
    transform: translateZ(0);
}

.parallax-layer-back {
    transform: translateZ(-1px) scale(1.5);
}



/* Main content div */

#content {
    width: 100%;
    display: flex;
}

#body-cont {
    width: 100%;
    display: flex;
}



/* Right side content */

#main-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: relative;
}

#span-cont {
    margin-left: 25%;
    width: 75%;
    height: 100vh;
    position: absolute;
    font-size: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-cont {
    margin-top: -0%;
    margin-left: 25%;
    width: 100%;
    height: 98vh;
    overflow: hidden;
}

#img-cont img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

#info-cont {
    width: 75%;
    height: 100vh;
    background: rgb(255, 255, 255);
    top: 100vh;
    left: 25%;
}



/* Main left bar */

#left-cont {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

/*#left-cont::after {
    content: '';
    height: 85vh;
    width: 1px;
    background: black;
    position: absolute;
    right: 0px;
}*/

#rest-name {
    font-size: 28px;
    font-family: 'Galatea-Light';
    font-style: italic;
    margin-top: -0px;
}

#tab-cont {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Galatea';
}

.menu-items {
    font-size: 15px;
    cursor: pointer;
}

.menu-items:hover {
    text-decoration: underline;
}