@font-face {
    font-family: 'Galatea';
    src: url('./fonts/Galatea\ Regular\ Regular.woff') format('woff');
}
@font-face {
    font-family: Galatea-Thin;
    src: url('../src/fonts/Galatea\ Regular\ Thin.woff') format('woff');
}
@font-face {
    font-family: Galatea-Light;
    src: url('../src/fonts/Galatea\ Regular\ Light.woff') format('woff');
}
@font-face {
    font-family: Galatea-Medium;
    src: url('./fonts/Galatea\ Regular\ Medium.woff') format('woff');
}
@font-face {
    font-family: Galatea-Bold;
    src: url('./fonts/Galatea\ Regular\ Bold.woff') format('woff');
}



/* Parallax */

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer-base {
    transform: translateZ(0);
}

.parallax-layer-back {
    transform: translateZ(-1px) scale(1.5);
}



/* animation */

.image-fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}



/* Main content div */

body {
    padding: 0%;
    margin: 0%;
}

#content {
    width: 100%;
    display: flex;
}

.body-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
}



/* Main left bar */

#left-cont {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
    z-index: 1;
}

#rest-name {
    font-size: 28px;
    font-family: 'Galatea-Light';
    font-style: italic;
}

#tab-cont {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Galatea-Thin';
}

.menu-items {
    font-size: 15px;
    cursor: pointer;
}

.menu-items:hover {
    text-decoration: underline;
}



/* Home Page */

#main-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#span-cont {
    margin-left: 25%;
    width: 75%;
    height: 100vh;
    position: absolute;
    font-size: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-cont {
    margin-top: -1%;
    margin-left: 25%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#img-cont img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#info-cont {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 1s;
}

#blurb-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 500px;
    margin-left: 25%;
    transition: 1s;
}

#blurb-title {
    font-family: 'Galatea';
    font-size: 30px;
}

#blurb-text {
    font-family: 'Galatea-Thin';
    font-size: 14.5px;
    width: 550px;
    text-align: center;
    margin-top: 40px;
}

#hours-cont {
    border-top: none;
    width: 75%;
    margin-left: 25%;
    height: 60vh;
    min-height: 475px;
    max-height: 500px;
    background: #747243;
    display: flex;
}

#hours-img {
    width: 50%;
    object-fit: cover;
}

#hours-inner-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hours-title {
    font-family: 'Galatea-Light';
    font-size: 20px;
    text-align: center;
    color: white;
    font-style: italic;
}

#address-title {
    font-family: 'Galatea-Light';
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-style: italic;
}

#hours-text {
    font-family: 'Galatea-Thin';
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#address-text {
    font-family: 'Galatea-Thin';
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#order-text {
    width: 60%;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: 'Galatea-Thin';
}

#order-btn {
    width: 110px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    background: #13130A;
    color: white;
    font-family: 'Galatea-Light';
    font-size: 14px;
    transition: 0.5s;
}

#order-btn:hover {
    background: white;
    color: #13130A;
}

#about-btn {
    width: 110px;
    height: 40px;
    cursor: pointer;
    margin-top: 35px;
    border: 1px solid #13130A;
    background: #13130A;
    color: white;
    font-family: 'Galatea-Light';
    font-size: 14px;
    transition: 0.5s;
}

#about-btn:hover {
    background: white;
    border: 1px solid #13130A;
    color: #13130A;
}

#mail-cont {
    width: 75%;
    height: 250px;
    margin-left: 25%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(245, 245, 245);
}

#mail-inner-cont {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mail-text {
    width: 100%;
    font-family: 'Galatea-Light';
    font-size: 25px;
}

#mail-form {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mail-input {
    width: 380px;
    height: 34px;
    font-size: 18px;
    font-family: 'Galatea-Light';
    padding-left: 5px;
    border: none;
}

#mail-btn {
    width: 110px;
    height: 34px;
    cursor: pointer;
    margin-left: 50px;
    background: #13130A;
    color: white;
    font-family: 'Galatea-Light';
    font-size: 14px;
    transition: 0.5s;
    border: none;
    border: 1px solid #13130A;
}

#mail-btn:hover {
    background: rgb(240, 240, 240);
    border: 1px solid #13130A;
    color: #13130A;
}

#footer {
    background: white;
    margin-left: 25%;
    width: 75%;
    height: 40vh;
    min-height: 315px;
    max-height: 320px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%;
    height: 100%;
}

.footer-section-title {
    width: 100%;
    font-size: 12px;
    font-family: 'Galatea';
}

.footer-section-text {
    width: 100%;
    font-family: 'Galatea-Light';
    font-size: 10px;
}



/* Menu Page */

#menu-body-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-title {
    font-size: 25px;
    font-family: 'Galatea-Thin';
    margin-left: 25%;
    margin-top: 50px;
}

#menu-cont {
    width: 75%;
    height: 700px;
    margin-left: 25%;
    margin-top: 50px;
}

.food-item {
    
}